body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("TT.jpg");
 
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h2 {
    margin: 0;
}

.chat-section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.message-input {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  
}

button:hover {
    background-color: #555;
}

.dropbox {
    background-color: floralwhite;
    height: 180px;
    width: 180px;
    float: right;
    position: absolute;
    font-size: larger;
    vertical-align: central;
    text-align: center;
    top: 50px;
    right: 50px;
    border-radius: 20px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}
